.table {

   
    width: 90%;
    margin: auto;
    align-items: center;

}


.box-left {
    width: 37%;
    background-color: rgb(126, 229, 218);   
    float: left;
    text-align: center;
    margin-top: 3px;
    padding: 19px;
}

.box-center {
    background-color: rgb(112, 204, 194);
    float: left;
    text-align: center;
    margin-left: 3px;
    width: 15%;
    margin-top: 3px;
    padding: 10px;
   
}

.box-right {

    background-color: rgb(98, 179, 170);
    text-align: center;
    float: left;
    width: 37%;
    margin-top: 3px;
    padding: 7px;
    margin-left: 3px;
}

.footer {
    text-align: center;
    margin-top: 100px;
}
